@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800;900&display=swap');
:root{
  --bg-color: #120829;
  --second-bg-color: #241142;
  --text-color: #ddddee;
  --main-color: #5c00f0;
  --extra-color: #321069;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

.heading {
  position: relative;
  display: inline-block;
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}


body{
  background: var(--bg-color);
  color: black;
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;

}
/*projects */

h2{
  justify-content: center;
  color: var(--text-color);
  display: inline-block;
  padding-top: 50px;
  left: -50%;
  width: 100%;
  background: transparent;
  align-items: center;
  display: flex;
  z-index: 100;
  font-size: 60px;
  transform: translateX(50%);


}

h2 span{
  color: var(--main-color);
  text-align: center;
}



.content{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px,auto));
 
}

.row{
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s, transform 0.8s;
}

.row img{
  width: 100%;
  border-radius: 0px;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  transition: filter 2s;
  transform: translateY(50px);
  filter: blur(0);
  
}

.row:hover img{
  filter: blur(10px);

}

.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.1),var(--extra-color));
  position: absolute;
  border-radius: 8px;
  left: 0px;
  bottom:0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  transition: height 0.5s;
}

.layer h5 {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.layer p{
  color:var(--text-color);
  font-size: 1rem;
  line-height: 1.8;
}

.layer i{
  color: var(--second-bg-color);
  margin-top: 20px;
  font-size: 20px;
  background: var(--main-color);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.layer i:hover{
  background-color:var(--bg-color);
  transition: 0.75s;
}


.row:hover .layer{
  height: 100%;
}




@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.row.fade-in {
  opacity: 1;
  transform: translateY(0);
}

/* Trigger the fade-in animation for the gallery items when they enter the viewport */
@media screen and (min-width: 768px) {
  .row {
      opacity: 0;
      transform: translateY(50px);
      transition: opacity 0.8s, transform 0.8s;
  }

  .row.fade-in {
      opacity: 1;
      transform: translateY(0);
  }
}

.row img.fade-in {
  opacity: 1;
  transform: translateY(0);
}



@media screen and (min-width: 768px) {
  .row img {
      opacity: 0;
      transform: translateY(50px);
      transition: opacity 0.8s, transform 0.8s;
  }

  .row img.fade-in {
      opacity: 1;
      transform: translateY(0);
  }
}
